/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Universal selector for normalized the CSS in order to make a cross browser reset */
* {
  margin: 0;
  padding: 0;
  /* Change the box model so the borders and the paddings are no longer added to the total width or height that we specify for a box */
  /* without this, any paddings and borders are added to the height or the width of an element */
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  /* 95% of thw viewport height */
  height: 95vh;
  /* linear gradient use the back-image property */
  /* to right bottom css undestand that it should begin since left up */
  /* The fourth parameter is the opacity (0.8) in order to see the background image */
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url(../img/hero.jpg);
  /* whatever width of the viewport, it'll always try to fit the element inside of the box */
  background-size: cover;
  /* whatever viewport size the top of the image always stays at the top of the container */
  background-position: top;
  /* specify the polygon in which the element will still be visible */
  /* It will receive four coordinates (x, y) and it's gonna start at the top left corner an then move clockwise  */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.text-box {
  position: absolute;
  /* center text top, left and transform */
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
}
