.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  display: flex;
  justify-content: center;
  align-items: center;

  // Which applies to the element which is the target when click on a button, or when the URL changes
  &:target {
    opacity: 1;
    visibility: visible;
  }

  // When the popup is open then style the content
  &:target &__content {
    opacity: 1;
    transform: scale(1);
  }

  &__content {
    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;
    overflow: hidden;
    opacity: 0;
    transform: scale(0.25);
    transition: all 0.5s 0.2s;
    display: flex;

    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  &__left {
    flex: 0 0 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond(tab-port) {
      flex-direction: row;
    }
  }

  &__right {
    flex: 1;
    padding: 3rem 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__img {
    display: block;
    width: 100%;

    @include respond(phone) {
      display: inline-block;
      width: 50%;
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 3rem;

    // Column layout
    column-count: 2;
    column-gap: 2em; // 1em = 14px (current element)
    // The border what is exactly in the middle of these columns
    column-rule: 1px solid $color-grey-light-2;

    // hyphenetion
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
