/* Universal selector for normalized the CSS in order to make a cross browser reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* Inherit box-sizing: border-box from body element for each element insise body */
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  /* default font-size is 16px */
  /* if font-size is specified in pixels then the user cant override the size manually in the browser settings  */
  /* font-size: 10px; */
  /* Is better practice use % based on default font-size (16px) (10px = 62.5% from 16px) */
  font-size: 62.5%;

  @include respond(tab-land) {
    // width < 1200px
    font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) {
    // width < 900px
    font-size: 50%; // 1rem = 8px, 8/16 = 50%
  }

  @include respond(phone) {
    // width < 600px
    font-size: 30%; // 1rem = 4.8px, 4.8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px, 12/16 = 75%
  }
}

body {
  /* Change the box model so the borders and the paddings are no longer added to the total width or height that we specify for a box */
  /* without this, any paddings and borders are added to the height or the width of an element */
  box-sizing: border-box;
}
